<div>
    <div class="row">
        <div class="col-md-1"> </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>TelephoneNo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let telephone of telephones">
                    <td>{{telephone.id}}</td>
                    <td>{{telephone.description}}</td>
                    <td>{{telephone.telephoneNo}}</td>
                    <td><button class="btn btn-warning btn-sm">Modify</button></td>
                    <td><button class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success" routerLink="telephones/add">Add Telephone</button>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
</div>