<div>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>TcNo</th>
                        <th>Email</th>
                        <th>UnusualName</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{customer.id}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.surname}}</td>
                        <td>{{customer.tcNo}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.haveUnsualName ? 'Yes' : 'No' }}</td>
                        <td><button class="btn btn-primary btn-sm"
                                routerLink="addresses/list/{{customer.id}}">Addresses</button></td>
                        <td><button class="btn btn-success btn-sm"
                                routerLink="telephones/list/{{customer.id}}">Telephones</button></td>
                        <td><button class="btn btn-warning btn-sm"
                                routerLink="/customers/getById/{{customer.id}}">Modify</button></td>
                        <td><button class="btn btn-danger btn-sm" (click)="delete(customer.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>